@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --body_background: #ebe9e9;
  --body_backgroundLight: #fff;
  --body_color: #403e57;
  --sidebar_color: #403e57;
  --btn_blue: #0858f7;
  --rounded_btn: #f0f5ff;
  --btn_hover: #f1f1f1;
  --btn_active: #ebf6ff;
  --btn_active-color: #0858f7;
  --dropdown: #f0f0f0;
  --click: #000;
  --review-section: #f8f8f8;
}

[data-theme="dark"] {
  --body_background: #071739;
  --body_backgroundLight: #112143;
  --body_color: #e4e4e4;
  --sidebar_color: #b4b4b4;
  --btn_blue: #0858f7;
  --rounded_btn: #132956;
  --btn_hover: #253557;
  --btn_active: #132b53;
  --btn_active-color: #94b7f4;
  --dropdown: #1b2b4d;
  --click: #fff;
  --review-section: #071739;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", serif !important;
  background: var(--body_background) !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

.btn {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.btn-blue {
  background: #0858f7 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #fff !important;
  text-transform: capitalize !important;
  border-radius: 5px !important;
}
.btn-blue a {
  text-decoration: none !important;
  color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--body_color);
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
::-webkit-scrollbar-thumb {
  background: #0858f7 !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}

.text-sky {
  color: #0858f7;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
